<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="home">Home</a>
            <a class="nav-item nav-link" routerLink="ngIf-ngFor">ngIf-ngFor</a>
            <a class="nav-item nav-link" routerLink="ngSwitch">ngSwitch</a>
            <a class="nav-item nav-link" routerLink="ngClass">ngClass</a>
            <a class="nav-item nav-link" routerLink="ngStyle">ngStyle</a>
            <a class="nav-item nav-link" routerLink="dataBinding">Data Binding</a>
            <a class="nav-item nav-link" routerLink="pipes">Pipes</a>
            <a class="nav-item nav-link" routerLink="formulario">Formulario</a>
            <a class="nav-item nav-link" routerLink="class-interface">Class VS Interface</a>
            <a class="nav-item nav-link" routerLink="comunicacion">Comunicacion</a>
            <a class="nav-item nav-link" routerLink="firebase">API Firebase</a>

        </div>
    </div>
</nav>